body {
  background-color: black;
}
.btn {
  color: #f5f5f5;
}
.items {
  text-align: center;
}

.last {
  background-color: #ffffff;
  margin-top: 17.5%;
  /* display: flex; */
  /* flex-direction: row; */
}
.mainf {
  /* align-self: flex-start; */
  padding: 7% 1% 3% 2%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}
.main1 {
  padding-top: 0%;
  /* display: flex;
  flex-direction: column; */
}
.fonth {
  color: #1e3765;
  font-family: "Ubuntu";
  margin-bottom: 1rem;
  font-weight: bold;
}
.fonth1 {
  color: #0977d0;
  font-family: "Roboto", sans-serif;
}
h6 {
  margin-top: 28%;
}
.fontsubh {
  font-weight: 650;
  color: #1e3765;
}
.f1 {
  width: 70%;
  letter-spacing: 0.7px;
}

.link-items {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 13px;
}
.fab {
  font-size: larger;
}
q1 {
  /* margin-left: 4%; */
}
.q2 {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}
.space {
  margin-bottom: 50px;
}
